
.DS_Store
__pycache__
log.txt
test.py
Test.py
Test2.py
TestData.py
MyModules
.vscode/
text.txt
JUP.py
__init__.pyc
evn
venv
._.DS_Store
player_input.py
setup.py
/src
/dist
/build
build
/bin
/*.egg-info
.ropeproject
tags
